/*font-family: 'Andika', sans-serif;*/
  /*font-family: 'Amatic SC', cursive;*/
body {
font-family: 'Andika', sans-serif;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.app-title {
  color: red;
  font-size: 3em;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

.create-project-container {
  display: flex;
  flex-direction: row;
  align-items: center;

}


.project-text {
  margin: 0 10px;
  color: #a5490a;
  font-size: 1.3em;
}

.form-save-project {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.new-project-input {
  font-size: 1.7em;
  /*margin-top: 14px;*/
  border: 1px solid #a5490a;
}

.new-project-input::placeholder {
  font-size: .7em;
  padding-bottom: 10px;
  color: #a5490a;

}

.save-project-btn {
  outline:none;
  height: 38px;
  text-align: center;
  width: 130px;
  /*border-radius:40px;*/
  background: #fff;
  border: 1px solid #a5490a;
  color: #a5490a;
  letter-spacing:1px;
  text-shadow:0;
  font-size: 14px;
  font-weight:bold;
  cursor: pointer;
  font-family: 'Andika', sans-serif;
  transition: all 0.25s ease;
  margin-left: 10px;
}

.save-project-btn:hover {
  color: white;
  background: #6c9b1b;
  border: 1px solid #fff;
}





.palette-creator {
  display: flex;
  flex-direction: row;
}

svg {
  display: inline;
  /*flex-direction: */
  margin: 0;
}

.flowers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.flower1,
.flower2,
.flower3,
.flower4,
.flower5 {
  border-bottom: solid 2px white;
  margin: 0 5px;
}


#flower1-petals1,
#flower2-petals1,
#flower3-petals1,
#flower4-petals1,
#flower5-petals1 {
  opacity: 0.8;
}



.project-wrapper {
  display: flex;
  flex-direction: row;
}  

.project {
  padding: 20px;
}


.hexCode-container {
  display: flex;
  flex-direction: row;
}

.color-circle {
  width: 20px;
  height: 20px;
  background: black;
  margin: 10px 0px;
}

.hex-code {
  text-align: center;
  margin: 10px;
  font-size: 1.2em;
}

.create-palette {
    outline: none;
    height: 50px;
    text-align: center;
    width: 300px;
    /* border-radius: 40px; */
    border: 1px solid #fff;
    color: white;
    background: #6c9b1b;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Andika', sans-serif;
    transition: all 0.25s ease;
    margin-top: 15px;
}

.create-palette:hover {
  color: #a5490a;
  background: #fff;
  border: 1px solid #a5490a;
}

.save-project-container,
.create-project-container {
  margin: 20px;
}




