.nav-bar {
  display: flex;
  flex-direction: row;
}

.app-title {
  color: red;
  font-size: 3em;
  margin: 0;
}

.palette-creator {
  display: flex;
  flex-direction: row;
}

svg {
  display: inline;
  /*flex-direction: */
  margin: 0;
}

.flowers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.flower1,
.flower2,
.flower3,
.flower4,
.flower5 {
  border-bottom: solid 2px white;
  margin: 0 5px;
}


#flower1-petals1,
#flower2-petals1,
#flower3-petals1,
#flower4-petals1,
#flower5-petals1 {
  opacity: 0.8;
}


.palette {
  position: relative;
  border: solid black 1px;
  padding: 0;
  margin: 1em auto;
  width: 25em;
  height: 25em;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}

li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

.slice-color {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  transform: skewY(18deg) rotate(deg);
  padding-top: 20px;
}

li:first-child {
  transform: rotate(0deg) skewY(-18deg);
  background: red;    
}
li:nth-child(2) {
  transform: rotate(72deg) skewY(-18deg);  
  background: blue;       
}
li:nth-child(3) {
  transform: rotate(144deg) skewY(-18deg);
  background: green;         
}
li:nth-child(4) {
  transform: rotate(216deg) skewY(-18deg); 
  background: yellow;   
}
li:nth-child(5) {
  transform: rotate(288deg) skewY(-18deg); 
  background: purple;  
}

.project-wrapper {
  display: flex;
  flex-direction: row;
}  

.project {
  padding: 20px;
}


.hexCode-container {
  display: flex;
  flex-direction: row;
}

.color-circle {
  width: 20px;
  height: 20px;
  background: black;
  margin: 10px 0px;
}

.hex-code {
  text-align: center;
  margin: 10px;
  font-size: 1.2em;
}

.create-palette {
  font-size: 1.5em;
  padding: 10px;
  margin: 10px;
}

.save-project-container,
.create-project-container {
  margin: 20px;
}




